<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<title>{$list.name} - {$basic.name}</title>
<link rel="icon" href="__IMG__/favicon.ico" type="image/png">
{load href="__CSS__/bootstrap.css" /}
{load href="__ICO__/icon-style.css" /}
{load href="__CSS__/style.css" /}
<style>

</style>
</head><body>
{include file="default/public/header" /}
<section class="blog_area">
  <div class="container">
    <div class="section-top-border">
    	{$list.content|raw}
    </div>
  </div>
</section>
<nav class="blog-pagination justify-content-center d-flex"></nav>
{include file="default/public/footer" /} 
{load href="__JS__/jquery-3.2.1.min.js" /}
{load href="__JS__/bootstrap.min.js" /}
{load href="__JS__/basic.js" /}
{load href="__LAYER__/layer.js" /}
</body>
</html>