<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>新增素材 - {$basic.name}</title>
	<link rel="icon" href="/storage/images/favicon.ico" type="image/ico" />
	{load href="__MCSS__/bootstrap.min.css" }
	{load href="__MCSS__/materialdesignicons.min.css" }
	{load href="__MCSS__/style.min.css" }
	<style>
		.filePic {
			position: relative;
			text-align: center
		}

		.filePic .inputPic {
			cursor: pointer;
			opacity: 0;
			ilter: alpha(opacity=0);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9;
			background: #f00;
		}

		.filePic img {
			border-radius: 50%;
			width: 100px;
			height: 100px;
		}

		.filePic .uppic {
			margin: 5px 0 0 0;
			font-size: 12px;
			color: #f13636;
			display: block;
		}
	</style>
</head>

<body>
	<div class="lyear-layout-web" style="padding-top: 20px">
		<div class="lyear-layout-container">
			<!--页面主要内容-->
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<form class="row" method="post" enctype="multipart/form-data">
									<div class="form-group" style="margin-left: 20px">
										<label for="type">类型</label>
										<div class="form-controls">
											<label class="radio-inline">
												<input type="radio" name="type" value="1">
												头像（60*60）
											</label>
											<label class="radio-inline">
												<input type="radio" name="type" value="2">
												配图(370*280)
											</label>
											<label class="radio-inline">
												<input type="radio" name="type" value="3">
												其他(600*600)
											</label>
										</div>
									</div>



									<div class="form-group col-md-12">
										<label for="web_site_logo">图片</label>
										<div class="input-group">
											<input type="text" class="form-control" name="img" id="img"
												placeholder="请上传图片">
											<div class="input-group-btn">
												<div class="filePic">
													<input name="upfile" type="file" class="inputPic"
														allowexts="gif,jpeg,jpg,png,bmp" accept="image/*" id="upload" />
													<button class="btn btn-default">上传图片</button>
												</div>
											</div>
										</div>
									</div>


									<div class="form-group col-md-12">
										<label class="btn-block" for="web_site_status">状态</label>
										<label class="lyear-switch switch-solid switch-primary">
											<input name="status" type="checkbox" value="1" checked="">
											<span></span> </label>
									</div>

									<div class="form-group col-md-12">
										<button type="button" class="btn btn-primary" target-form="add-form"
											id="save-data">确 定</button>
										<button type="button" class="btn btn-default"
											onclick="javascript:history.back(-1);return false;">返 回</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--End 页面主要内容-->
		</div>
	</div>
	{load href="__MJS__/jquery.min.js" }
	{load href="__MJS__/bootstrap.min.js" }
	{load href="__MJS__/operation.ajax.js" /}
	{load href="__LAYER__/layer.js" /}
	{load href="__MJS__/jquery.cookie.js" /}
	{load href="__MJS__/set.systheme.js" /}
	<script>

		$(function () {
			$(".inputPic").click(function () {
				$(".inputPic").on("change", function () {

					var sizex, sizey;
					var type = $(':radio[name="type"]:checked').val();
					switch (type) {
						case '1':
							sizex = '60';
							sizey = '60';
							break
						case '2':
							sizex = '370';
							sizey = '280';
							break
						case '3':
							sizex = '800';
							sizey = '600';
							break
						default:
							layer.msg('请先选择类型！', { icon: 2 });
							return;
					}


					var msg = layer.msg('上传中...', { icon: 16, shade: 0.01 });
					//------------------------------
					var formData = new FormData($('form')[0]);

					//获取表单FILE名称
					formData.append('file', $('input[type=file]').attr('name'));

					$.ajax({
						url: '/manage/data/type/ajaxmaterial/x/' + sizex + '/y/' + sizey,
						type: 'POST',
						dataType: 'json',
						data: formData,
						processData: false,
						contentType: false,
						success: function (ReturnData) {
							if (ReturnData.status === 1) {
								$("#img").val(ReturnData.url);
								setTimeout(function () {
									var msg = layer.msg(ReturnData.msg, { icon: 1 });
								}, 500)

								setTimeout(function () {
									$("#save-data").click();
								}, 1000)
							} else {
								alert(ReturnData.msg);
							}
							setTimeout(function () {
								layer.close(msg);
							}, 10000)
						},
						error: function () {
							alert("数据加载失败！");
						}
					});

					//-----------------------------
				});
			});


		});

	</script>
</body>

</html>