<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>相册列表 - {$basic.name}</title>
  <link rel="icon" href="/storage/images/favicon.ico" type="image/ico" />
  {load href="__MCSS__/bootstrap.min.css" }
  {load href="__MCSS__/materialdesignicons.min.css" }
  {load href="__MCSS__/style.min.css" }
  {load href="__MCSS__/style.custom.css" }
</head>

<body>
  <div class="lyear-layout-web">
    <div class="lyear-layout-container"> {include file="manage/public/sidebar" /}
      {include file="manage/public/header" /}

      <!--页面主要内容-->
      <main class="lyear-layout-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">


                <div class="card-toolbar clearfix">
                  <form method="get" role="form">

                    <div class="pull-right search-bar">
                      <div class="input-group">
                        <div class="input-group-btn">

                          <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown"
                            type="button" aria-haspopup="true" aria-expanded="false"> 查找 </button>

                        </div>
                        <input type="text" class="form-control" name="keyword" placeholder="名称 / URL"
                          value="{$Think.get.keyword}">
                      </div>
                    </div>
                    <div class="toolbar-btn-action">
                      <a class="btn btn-primary m-r-5 operation" url="{:Url('/manage/addalbum')}" imp="newpage"
                        size="500,420" title="新增数据"><i class="mdi mdi-plus"></i> 新增</a>
                      <a class="btn btn-danger operation" imp="moredelete"><i class="mdi mdi-window-close"></i> 删除</a>
                    </div>


                    <div class="data-select">
                      <div class="col-lg-10">
                        <div class="btn-group">
                          <a class="btn btn-default" onClick="GetUrlPara()"><i class="mdi mdi-replay"></i></a>
                          <button class="btn btn-default"><i class="mdi mdi-magnify"></i></button>
                          <div class="btn-group">
                            <button id="btnGroupDrop1" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="mdi mdi-arrow-down"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#"><i class="mdi mdi-file-excel"></i> Excel</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>


                      <div class="clear"></div>
                    </div>

                  </form>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th> <label class="lyear-checkbox checkbox-primary">
                              <input type="checkbox" id="check-all">
                              <span></span> </label>
                          </th>
                          <th>名称</th>
                          <th>链接</th>
                          <th>时间</th>
                          <th>状态</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>

                        {volist name="list.album" id="album"}
                        <tr>
                          <td><label class="lyear-checkbox checkbox-primary">
                              <input type="checkbox" name="ids[]" value="{$album.id}">
                              <span>{$album.id}</span> </label></td>
                          <td><span class="label label-info">{$album.name}</span></td>
                          <td><span class="label label-default">{$album.pinyin}</span></td>
                          <td><span class="label label-default">{$album.time|date='Y-m-d H:i:s'}</span></td>
                          <td><label class="lyear-switch switch-solid switch-primary">
                              <input class="Set_state" name="state" type="checkbox" data-id="{$album.id}" value="1" {eq
                                name='$album.status' value='1' }checked{/eq}>
                              <span></span> </label>

                          </td>
                          <td>
                            <div class="btn-group">
                              <a class="btn btn-xs btn-default operation"
                                url="{:Url('/manage/editalbum/id/'.$album.id)}" imp="newpage" size="500,420" title="编辑"
                                data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>

                              <a class="btn btn-xs btn-default operation" imp="delete" data-id="{$album.id}" title="删除"
                                data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                            </div>
                          </td>
                        </tr>
                        {/volist}
                      </tbody>

                    </table>
                  </div>



                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--End 页面主要内容-->
    </div>
  </div>
  {load href="__MJS__/jquery.min.js" }
  {load href="__MJS__/bootstrap.min.js" }
  {load href="__MJS__/perfect-scrollbar.min.js" }
  {load href="__MJS__/main.min.js" }
  {load href="__MJS__/operation.ajax.js" /}
  {load href="__LAYER__/layer.js" /}
  {load href="__MJS__/jquery.cookie.js" /}
  {load href="__MJS__/set.systheme.js" /}
  <script type="text/javascript">
    $(function () {
      $('.search-bar .dropdown-menu a').click(function () {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
      });

    });

  </script>
</body>

</html>