
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont quanxuan"></i>
                    <div class="name">全选</div>
                    <div class="fontclass">.quanxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont erweima"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.erweima</div>
                </li>
            
                <li>
                <i class="icon iconfont sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont jia"></i>
                    <div class="name">加</div>
                    <div class="fontclass">.jia</div>
                </li>
            
                <li>
                <i class="icon iconfont jian"></i>
                    <div class="name">减</div>
                    <div class="fontclass">.jian</div>
                </li>
            
                <li>
                <i class="icon iconfont shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont remen"></i>
                    <div class="name">热门</div>
                    <div class="fontclass">.remen</div>
                </li>
            
                <li>
                <i class="icon iconfont lianjie"></i>
                    <div class="name">链接</div>
                    <div class="fontclass">.lianjie</div>
                </li>
            
                <li>
                <i class="icon iconfont mima"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.mima</div>
                </li>
            
                <li>
                <i class="icon iconfont youxiang"></i>
                    <div class="name">邮箱</div>
                    <div class="fontclass">.youxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont windows"></i>
                    <div class="name">windows</div>
                    <div class="fontclass">.windows</div>
                </li>
            
                <li>
                <i class="icon iconfont huiyuan"></i>
                    <div class="name">会员</div>
                    <div class="fontclass">.huiyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont dashuju"></i>
                    <div class="name">大数据</div>
                    <div class="fontclass">.dashuju</div>
                </li>
            
                <li>
                <i class="icon iconfont diannaoban"></i>
                    <div class="name">电脑版</div>
                    <div class="fontclass">.diannaoban</div>
                </li>
            
                <li>
                <i class="icon iconfont tuijian"></i>
                    <div class="name">推荐</div>
                    <div class="fontclass">.tuijian</div>
                </li>
            
                <li>
                <i class="icon iconfont huangguan"></i>
                    <div class="name">皇冠</div>
                    <div class="fontclass">.huangguan</div>
                </li>
            
                <li>
                <i class="icon iconfont home"></i>
                    <div class="name">主页</div>
                    <div class="fontclass">.home</div>
                </li>
            
                <li>
                <i class="icon iconfont renzheng"></i>
                    <div class="name">认证</div>
                    <div class="fontclass">.renzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont mobile"></i>
                    <div class="name">手机版</div>
                    <div class="fontclass">.mobile</div>
                </li>
            
                <li>
                <i class="icon iconfont zuo"></i>
                    <div class="name">左</div>
                    <div class="fontclass">.zuo</div>
                </li>
            
                <li>
                <i class="icon iconfont qiandao"></i>
                    <div class="name">签到</div>
                    <div class="fontclass">.qiandao</div>
                </li>
            
                <li>
                <i class="icon iconfont dingdan"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.dingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont dianji"></i>
                    <div class="name">点击</div>
                    <div class="fontclass">.dianji</div>
                </li>
            
                <li>
                <i class="icon iconfont lanmu"></i>
                    <div class="name">栏目</div>
                    <div class="fontclass">.lanmu</div>
                </li>
            
                <li>
                <i class="icon iconfont kaixin"></i>
                    <div class="name">开心</div>
                    <div class="fontclass">.kaixin</div>
                </li>
            
                <li>
                <i class="icon iconfont kafei"></i>
                    <div class="name">咖啡</div>
                    <div class="fontclass">.kafei</div>
                </li>
            
                <li>
                <i class="icon iconfont iconset0254"></i>
                    <div class="name">条码</div>
                    <div class="fontclass">.iconset0254</div>
                </li>
            
                <li>
                <i class="icon iconfont diqu"></i>
                    <div class="name">地区</div>
                    <div class="fontclass">.diqu</div>
                </li>
            
                <li>
                <i class="icon iconfont zigezhengshu"></i>
                    <div class="name">资格证书</div>
                    <div class="fontclass">.zigezhengshu</div>
                </li>
            
                <li>
                <i class="icon iconfont jiangli"></i>
                    <div class="name">奖励</div>
                    <div class="fontclass">.jiangli</div>
                </li>
            
                <li>
                <i class="icon iconfont tuichu"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.tuichu</div>
                </li>
            
                <li>
                <i class="icon iconfont hongbao"></i>
                    <div class="name">红包</div>
                    <div class="fontclass">.hongbao</div>
                </li>
            
                <li>
                <i class="icon iconfont tupian"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.tupian</div>
                </li>
            
                <li>
                <i class="icon iconfont pause"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.pause</div>
                </li>
            
                <li>
                <i class="icon iconfont zuanshi"></i>
                    <div class="name">钻石</div>
                    <div class="fontclass">.zuanshi</div>
                </li>
            
                <li>
                <i class="icon iconfont jichushezhi"></i>
                    <div class="name">基础设置</div>
                    <div class="fontclass">.jichushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont faxian"></i>
                    <div class="name">发现</div>
                    <div class="fontclass">.faxian</div>
                </li>
            
                <li>
                <i class="icon iconfont shuaxin"></i>
                    <div class="name">刷新</div>
                    <div class="fontclass">.shuaxin</div>
                </li>
            
                <li>
                <i class="icon iconfont yongjin"></i>
                    <div class="name">佣金</div>
                    <div class="fontclass">.yongjin</div>
                </li>
            
                <li>
                <i class="icon iconfont fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont dayin"></i>
                    <div class="name">打印</div>
                    <div class="fontclass">.dayin</div>
                </li>
            
                <li>
                <i class="icon iconfont vip"></i>
                    <div class="name">vip</div>
                    <div class="fontclass">.vip</div>
                </li>
            
                <li>
                <i class="icon iconfont xiugai"></i>
                    <div class="name">修改</div>
                    <div class="fontclass">.xiugai</div>
                </li>
            
                <li>
                <i class="icon iconfont xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont shenfenrenzheng"></i>
                    <div class="name">身份认证</div>
                    <div class="fontclass">.shenfenrenzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont dingwei"></i>
                    <div class="name">定位</div>
                    <div class="fontclass">.dingwei</div>
                </li>
            
                <li>
                <i class="icon iconfont dianhua"></i>
                    <div class="name">电话 (1)</div>
                    <div class="fontclass">.dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont gongxiang"></i>
                    <div class="name">共享</div>
                    <div class="fontclass">.gongxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont quyu"></i>
                    <div class="name">区域</div>
                    <div class="fontclass">.quyu</div>
                </li>
            
                <li>
                <i class="icon iconfont daishouhuo"></i>
                    <div class="name">待收货</div>
                    <div class="fontclass">.daishouhuo</div>
                </li>
            
                <li>
                <i class="icon iconfont shangpin"></i>
                    <div class="name">商品</div>
                    <div class="fontclass">.shangpin</div>
                </li>
            
                <li>
                <i class="icon iconfont shanghu"></i>
                    <div class="name">商户</div>
                    <div class="fontclass">.shanghu</div>
                </li>
            
                <li>
                <i class="icon iconfont wangzhan"></i>
                    <div class="name">网站</div>
                    <div class="fontclass">.wangzhan</div>
                </li>
            
                <li>
                <i class="icon iconfont tuijianren"></i>
                    <div class="name">推荐人</div>
                    <div class="fontclass">.tuijianren</div>
                </li>
            
                <li>
                <i class="icon iconfont zhongwen"></i>
                    <div class="name">中文</div>
                    <div class="fontclass">.zhongwen</div>
                </li>
            
                <li>
                <i class="icon iconfont yinxingqia"></i>
                    <div class="name">银行卡</div>
                    <div class="fontclass">.yinxingqia</div>
                </li>
            
                <li>
                <i class="icon iconfont yanzhenma"></i>
                    <div class="name">验证码</div>
                    <div class="fontclass">.yanzhenma</div>
                </li>
            
                <li>
                <i class="icon iconfont zengsong"></i>
                    <div class="name">赠送</div>
                    <div class="fontclass">.zengsong</div>
                </li>
            
                <li>
                <i class="icon iconfont dingshi"></i>
                    <div class="name">定时</div>
                    <div class="fontclass">.dingshi</div>
                </li>
            
                <li>
                <i class="icon iconfont anzhuo"></i>
                    <div class="name">安卓</div>
                    <div class="fontclass">.anzhuo</div>
                </li>
            
                <li>
                <i class="icon iconfont jiesuan"></i>
                    <div class="name">结算</div>
                    <div class="fontclass">.jiesuan</div>
                </li>
            
                <li>
                <i class="icon iconfont tixian"></i>
                    <div class="name">提现</div>
                    <div class="fontclass">.tixian</div>
                </li>
            
                <li>
                <i class="icon iconfont weidakuan"></i>
                    <div class="name">未打款</div>
                    <div class="fontclass">.weidakuan</div>
                </li>
            
                <li>
                <i class="icon iconfont yidakuan"></i>
                    <div class="name">已打款</div>
                    <div class="fontclass">.yidakuan</div>
                </li>
            
                <li>
                <i class="icon iconfont yinxing"></i>
                    <div class="name">银行</div>
                    <div class="fontclass">.yinxing</div>
                </li>
            
                <li>
                <i class="icon iconfont xia"></i>
                    <div class="name">下</div>
                    <div class="fontclass">.xia</div>
                </li>
            
                <li>
                <i class="icon iconfont saomiao"></i>
                    <div class="name">扫描</div>
                    <div class="fontclass">.saomiao</div>
                </li>
            
                <li>
                <i class="icon iconfont liaotian"></i>
                    <div class="name">聊天</div>
                    <div class="fontclass">.liaotian</div>
                </li>
            
                <li>
                <i class="icon iconfont gouwu"></i>
                    <div class="name">购物</div>
                    <div class="fontclass">.gouwu</div>
                </li>
            
                <li>
                <i class="icon iconfont menu"></i>
                    <div class="name">类别</div>
                    <div class="fontclass">.menu</div>
                </li>
            
                <li>
                <i class="icon iconfont yue"></i>
                    <div class="name">余额</div>
                    <div class="fontclass">.yue</div>
                </li>
            
                <li>
                <i class="icon iconfont zhongguoyinhang"></i>
                    <div class="name">中国银行</div>
                    <div class="fontclass">.zhongguoyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont gengxin"></i>
                    <div class="name">更新</div>
                    <div class="fontclass">.gengxin</div>
                </li>
            
                <li>
                <i class="icon iconfont kefu"></i>
                    <div class="name">客服</div>
                    <div class="fontclass">.kefu</div>
                </li>
            
                <li>
                <i class="icon iconfont shang"></i>
                    <div class="name">上</div>
                    <div class="fontclass">.shang</div>
                </li>
            
                <li>
                <i class="icon iconfont yun"></i>
                    <div class="name">云</div>
                    <div class="fontclass">.yun</div>
                </li>
            
                <li>
                <i class="icon iconfont daxiao"></i>
                    <div class="name">大小</div>
                    <div class="fontclass">.daxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont zhenduan"></i>
                    <div class="name">诊断</div>
                    <div class="fontclass">.zhenduan</div>
                </li>
            
                <li>
                <i class="icon iconfont nanguo"></i>
                    <div class="name">难过</div>
                    <div class="fontclass">.nanguo</div>
                </li>
            
                <li>
                <i class="icon iconfont shibai"></i>
                    <div class="name">失败</div>
                    <div class="fontclass">.shibai</div>
                </li>
            
                <li>
                <i class="icon iconfont shangjia"></i>
                    <div class="name">商家</div>
                    <div class="fontclass">.shangjia</div>
                </li>
            
                <li>
                <i class="icon iconfont jiazai"></i>
                    <div class="name">加载</div>
                    <div class="fontclass">.jiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont pingjia"></i>
                    <div class="name">评价</div>
                    <div class="fontclass">.pingjia</div>
                </li>
            
                <li>
                <i class="icon iconfont chuanzhen"></i>
                    <div class="name">传真</div>
                    <div class="fontclass">.chuanzhen</div>
                </li>
            
                <li>
                <i class="icon iconfont tongji"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.tongji</div>
                </li>
            
                <li>
                <i class="icon iconfont zhifu"></i>
                    <div class="name">支付</div>
                    <div class="fontclass">.zhifu</div>
                </li>
            
                <li>
                <i class="icon iconfont tongji1"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.tongji1</div>
                </li>
            
                <li>
                <i class="icon iconfont jinbi"></i>
                    <div class="name">金币</div>
                    <div class="fontclass">.jinbi</div>
                </li>
            
                <li>
                <i class="icon iconfont huiyuanqia"></i>
                    <div class="name">会员卡</div>
                    <div class="fontclass">.huiyuanqia</div>
                </li>
            
                <li>
                <i class="icon iconfont wifi"></i>
                    <div class="name">信号</div>
                    <div class="fontclass">.wifi</div>
                </li>
            
                <li>
                <i class="icon iconfont weibo1"></i>
                    <div class="name">微博</div>
                    <div class="fontclass">.weibo1</div>
                </li>
            
                <li>
                <i class="icon iconfont bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont dingyue"></i>
                    <div class="name">订阅</div>
                    <div class="fontclass">.dingyue</div>
                </li>
            
                <li>
                <i class="icon iconfont biaoge"></i>
                    <div class="name">表格</div>
                    <div class="fontclass">.biaoge</div>
                </li>
            
                <li>
                <i class="icon iconfont chenggong"></i>
                    <div class="name">成功</div>
                    <div class="fontclass">.chenggong</div>
                </li>
            
                <li>
                <i class="icon iconfont quxiao"></i>
                    <div class="name">取消</div>
                    <div class="fontclass">.quxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont jiansheyinhang"></i>
                    <div class="name">建设银行</div>
                    <div class="fontclass">.jiansheyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont pufayinhang"></i>
                    <div class="name">浦发银行</div>
                    <div class="fontclass">.pufayinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-life-alarm"></i>
                    <div class="name">报警</div>
                    <div class="fontclass">.icon-life-alarm</div>
                </li>
            
                <li>
                <i class="icon iconfont shangchuan"></i>
                    <div class="name">上传</div>
                    <div class="fontclass">.shangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont jiaotongyinhang"></i>
                    <div class="name">交通银行</div>
                    <div class="fontclass">.jiaotongyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont ziliao"></i>
                    <div class="name">资料</div>
                    <div class="fontclass">.ziliao</div>
                </li>
            
                <li>
                <i class="icon iconfont qingchu"></i>
                    <div class="name">清除</div>
                    <div class="fontclass">.qingchu</div>
                </li>
            
                <li>
                <i class="icon iconfont APP"></i>
                    <div class="name">APP</div>
                    <div class="fontclass">.APP</div>
                </li>
            
                <li>
                <i class="icon iconfont guangdayinhang"></i>
                    <div class="name">光大银行</div>
                    <div class="fontclass">.guangdayinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont cangku"></i>
                    <div class="name">仓库</div>
                    <div class="fontclass">.cangku</div>
                </li>
            
                <li>
                <i class="icon iconfont cuowu"></i>
                    <div class="name">错误</div>
                    <div class="fontclass">.cuowu</div>
                </li>
            
                <li>
                <i class="icon iconfont chaxun"></i>
                    <div class="name">查询</div>
                    <div class="fontclass">.chaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont shenhe"></i>
                    <div class="name">审核</div>
                    <div class="fontclass">.shenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont zuozhe"></i>
                    <div class="name">作者</div>
                    <div class="fontclass">.zuozhe</div>
                </li>
            
                <li>
                <i class="icon iconfont pinganyinhang"></i>
                    <div class="name">平安银行</div>
                    <div class="fontclass">.pinganyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont wenjian"></i>
                    <div class="name">文件</div>
                    <div class="fontclass">.wenjian</div>
                </li>
            
                <li>
                <i class="icon iconfont tuihui"></i>
                    <div class="name">退回</div>
                    <div class="fontclass">.tuihui</div>
                </li>
            
                <li>
                <i class="icon iconfont bangzhu"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.bangzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont huaxiayinhang"></i>
                    <div class="name">华夏银行</div>
                    <div class="fontclass">.huaxiayinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont you"></i>
                    <div class="name">右</div>
                    <div class="fontclass">.you</div>
                </li>
            
                <li>
                <i class="icon iconfont error"></i>
                    <div class="name">错误</div>
                    <div class="fontclass">.error</div>
                </li>
            
                <li>
                <i class="icon iconfont list"></i>
                    <div class="name">列表</div>
                    <div class="fontclass">.list</div>
                </li>
            
                <li>
                <i class="icon iconfont ppt"></i>
                    <div class="name">ppt</div>
                    <div class="fontclass">.ppt</div>
                </li>
            
                <li>
                <i class="icon iconfont qq"></i>
                    <div class="name">QQ</div>
                    <div class="fontclass">.qq</div>
                </li>
            
                <li>
                <i class="icon iconfont yunyingpan"></i>
                    <div class="name">云硬盘</div>
                    <div class="fontclass">.yunyingpan</div>
                </li>
            
                <li>
                <i class="icon iconfont nongyeyinhang"></i>
                    <div class="name">农业银行</div>
                    <div class="fontclass">.nongyeyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont chenghao"></i>
                    <div class="name">乘号</div>
                    <div class="fontclass">.chenghao</div>
                </li>
            
                <li>
                <i class="icon iconfont zhengshu"></i>
                    <div class="name">证书</div>
                    <div class="fontclass">.zhengshu</div>
                </li>
            
                <li>
                <i class="icon iconfont fenxi"></i>
                    <div class="name">分析</div>
                    <div class="fontclass">.fenxi</div>
                </li>
            
                <li>
                <i class="icon iconfont sudu"></i>
                    <div class="name">最高速度</div>
                    <div class="fontclass">.sudu</div>
                </li>
            
                <li>
                <i class="icon iconfont fuzhi"></i>
                    <div class="name">复制</div>
                    <div class="fontclass">.fuzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont kaishi"></i>
                    <div class="name">开始</div>
                    <div class="fontclass">.kaishi</div>
                </li>
            
                <li>
                <i class="icon iconfont icp"></i>
                    <div class="name">备案</div>
                    <div class="fontclass">.icp</div>
                </li>
            
                <li>
                <i class="icon iconfont zhiwen"></i>
                    <div class="name">指纹</div>
                    <div class="fontclass">.zhiwen</div>
                </li>
            
                <li>
                <i class="icon iconfont jianshao"></i>
                    <div class="name">减少</div>
                    <div class="fontclass">.jianshao</div>
                </li>
            
                <li>
                <i class="icon iconfont zhuce"></i>
                    <div class="name">注册</div>
                    <div class="fontclass">.zhuce</div>
                </li>
            
                <li>
                <i class="icon iconfont huodong"></i>
                    <div class="name">活动</div>
                    <div class="fontclass">.huodong</div>
                </li>
            
                <li>
                <i class="icon iconfont piliang"></i>
                    <div class="name">批量</div>
                    <div class="fontclass">.piliang</div>
                </li>
            
                <li>
                <i class="icon iconfont jinzhi"></i>
                    <div class="name">禁止</div>
                    <div class="fontclass">.jinzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont chakan"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.chakan</div>
                </li>
            
                <li>
                <i class="icon iconfont jianqie"></i>
                    <div class="name">剪切</div>
                    <div class="fontclass">.jianqie</div>
                </li>
            
                <li>
                <i class="icon iconfont dailishang"></i>
                    <div class="name">代理商</div>
                    <div class="fontclass">.dailishang</div>
                </li>
            
                <li>
                <i class="icon iconfont gongshangyinhang"></i>
                    <div class="name">工商银行</div>
                    <div class="fontclass">.gongshangyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont chongzhi"></i>
                    <div class="name">充值</div>
                    <div class="fontclass">.chongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont xingyeyinhang"></i>
                    <div class="name">兴业银行</div>
                    <div class="fontclass">.xingyeyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont hetong"></i>
                    <div class="name">合同</div>
                    <div class="fontclass">.hetong</div>
                </li>
            
                <li>
                <i class="icon iconfont youhuiquan"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.youhuiquan</div>
                </li>
            
                <li>
                <i class="icon iconfont shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont queding"></i>
                    <div class="name">确定</div>
                    <div class="fontclass">.queding</div>
                </li>
            
                <li>
                <i class="icon iconfont dakai"></i>
                    <div class="name">打开</div>
                    <div class="fontclass">.dakai</div>
                </li>
            
                <li>
                <i class="icon iconfont ios"></i>
                    <div class="name">ios</div>
                    <div class="fontclass">.ios</div>
                </li>
            
                <li>
                <i class="icon iconfont zhekou"></i>
                    <div class="name"> 折扣</div>
                    <div class="fontclass">.zhekou</div>
                </li>
            
                <li>
                <i class="icon iconfont guangfayinhang"></i>
                    <div class="name">广发银行</div>
                    <div class="fontclass">.guangfayinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont zhongxinyinhang"></i>
                    <div class="name">中信银行</div>
                    <div class="fontclass">.zhongxinyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont yincang"></i>
                    <div class="name">隐藏</div>
                    <div class="fontclass">.yincang</div>
                </li>
            
                <li>
                <i class="icon iconfont jifen"></i>
                    <div class="name">积分</div>
                    <div class="fontclass">.jifen</div>
                </li>
            
                <li>
                <i class="icon iconfont jiage"></i>
                    <div class="name">价格</div>
                    <div class="fontclass">.jiage</div>
                </li>
            
                <li>
                <i class="icon iconfont shouyin"></i>
                    <div class="name">收银</div>
                    <div class="fontclass">.shouyin</div>
                </li>
            
                <li>
                <i class="icon iconfont time"></i>
                    <div class="name">日历</div>
                    <div class="fontclass">.time</div>
                </li>
            
                <li>
                <i class="icon iconfont zhaoshangyinhang"></i>
                    <div class="name">招商银行</div>
                    <div class="fontclass">.zhaoshangyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont zhifubao"></i>
                    <div class="name">支付宝</div>
                    <div class="fontclass">.zhifubao</div>
                </li>
            
                <li>
                <i class="icon iconfont daifahuo"></i>
                    <div class="name">待发货</div>
                    <div class="fontclass">.daifahuo</div>
                </li>
            
                <li>
                <i class="icon iconfont xianzhi"></i>
                    <div class="name">限制</div>
                    <div class="fontclass">.xianzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont jiaoyi"></i>
                    <div class="name">交易</div>
                    <div class="fontclass">.jiaoyi</div>
                </li>
            
                <li>
                <i class="icon iconfont tishi"></i>
                    <div class="name">提示</div>
                    <div class="fontclass">.tishi</div>
                </li>
            
                <li>
                <i class="icon iconfont chulizhong"></i>
                    <div class="name">处理中</div>
                    <div class="fontclass">.chulizhong</div>
                </li>
            
                <li>
                <i class="icon iconfont biaoqian"></i>
                    <div class="name">标签 </div>
                    <div class="fontclass">.biaoqian</div>
                </li>
            
                <li>
                <i class="icon iconfont chengyuan"></i>
                    <div class="name">成员</div>
                    <div class="fontclass">.chengyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont fanhui"></i>
                    <div class="name">返回</div>
                    <div class="fontclass">.fanhui</div>
                </li>
            
                <li>
                <i class="icon iconfont tongzhi"></i>
                    <div class="name">通知</div>
                    <div class="fontclass">.tongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont Excel"></i>
                    <div class="name">Excel</div>
                    <div class="fontclass">.Excel</div>
                </li>
            
                <li>
                <i class="icon iconfont shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont xiazai"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont weixin"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont word"></i>
                    <div class="name">word</div>
                    <div class="fontclass">.word</div>
                </li>
            
                <li>
                <i class="icon iconfont shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont denglu"></i>
                    <div class="name">登录</div>
                    <div class="fontclass">.denglu</div>
                </li>
            
                <li>
                <i class="icon iconfont jieshu"></i>
                    <div class="name">结束</div>
                    <div class="fontclass">.jieshu</div>
                </li>
            
                <li>
                <i class="icon iconfont shoucang"></i>
                    <div class="name">收 藏</div>
                    <div class="fontclass">.shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont yingwen"></i>
                    <div class="name">英文 </div>
                    <div class="fontclass">.yingwen</div>
                </li>
            
                <li>
                <i class="icon iconfont liulan"></i>
                    <div class="name">浏览</div>
                    <div class="fontclass">.liulan</div>
                </li>
            
                <li>
                <i class="icon iconfont duihuan"></i>
                    <div class="name">兑换</div>
                    <div class="fontclass">.duihuan</div>
                </li>
            
                <li>
                <i class="icon iconfont wushuju"></i>
                    <div class="name">无数据</div>
                    <div class="fontclass">.wushuju</div>
                </li>
            
                <li>
                <i class="icon iconfont banben"></i>
                    <div class="name">版本</div>
                    <div class="fontclass">.banben</div>
                </li>
            
                <li>
                <i class="icon iconfont admin"></i>
                    <div class="name">管理员</div>
                    <div class="fontclass">.admin</div>
                </li>
            
                <li>
                <i class="icon iconfont chu"></i>
                    <div class="name">除</div>
                    <div class="fontclass">.chu</div>
                </li>
            
                <li>
                <i class="icon iconfont yichang"></i>
                    <div class="name">异常</div>
                    <div class="fontclass">.yichang</div>
                </li>
            
                <li>
                <i class="icon iconfont shouru"></i>
                    <div class="name">收入</div>
                    <div class="fontclass">.shouru</div>
                </li>
            
                <li>
                <i class="icon iconfont weixinzhifu"></i>
                    <div class="name">微信 支付</div>
                    <div class="fontclass">.weixinzhifu</div>
                </li>
            
                <li>
                <i class="icon iconfont gongan"></i>
                    <div class="name">公安</div>
                    <div class="fontclass">.gongan</div>
                </li>
            
                <li>
                <i class="icon iconfont minshengyinhang"></i>
                    <div class="name">民生银行</div>
                    <div class="fontclass">.minshengyinhang</div>
                </li>
            
                <li>
                <i class="icon iconfont chuli"></i>
                    <div class="name">处理中</div>
                    <div class="fontclass">.chuli</div>
                </li>
            
                <li>
                <i class="icon iconfont dongjie"></i>
                    <div class="name">冻结</div>
                    <div class="fontclass">.dongjie</div>
                </li>
            
                <li>
                <i class="icon iconfont yemian"></i>
                    <div class="name">页面</div>
                    <div class="fontclass">.yemian</div>
                </li>
            
                <li>
                <i class="icon iconfont add"></i>
                    <div class="name">添加</div>
                    <div class="fontclass">.add</div>
                </li>
            
                <li>
                <i class="icon iconfont xinyongqia"></i>
                    <div class="name">信用卡-我的</div>
                    <div class="fontclass">.xinyongqia</div>
                </li>
            
                <li>
                <i class="icon iconfont xianshang"></i>
                    <div class="name">线上</div>
                    <div class="fontclass">.xianshang</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
